.node{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

.node-wall{
  background-color: #1a195c;
}

.node-start{
  background-image: url('./resources/triangletwo-right.svg');
}

.node-end {
  background-image: url(./resources/arrive-point.svg);
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
}

.node-s-path {
  animation-name: solutionAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes solutionAnimation {
  0% {
    transform: scale(0.3);
    background-color: #ffd768;
    border-radius: 100%;
  }

  50% {
    background-color: #fdce4b;
  }

  75% {
    transform: scale(1.2);
    background-color: #fdc322;
  }

  100% {
    transform: scale(1);
    background-color: #ffc011;
  }
}