.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    text-align: center;
}

.nav-item:hover:not(.active) {
    background-color: #60dbc7;
}

.nav-item-container{
    height: 70%;
    display: flex;
    align-items: center;
    text-align: center;
    border-right: 1px solid #E6EAEA;
}
  
.nav-item-body {
    margin: auto;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
  
.active {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    text-align: center;
    background-color: #60dbc7;
}